.InfoOverlay.hidden {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

// DEFAULT THEME 1
.InfoOverlay {
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  background-color: rgba($color: #000000, $alpha: 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20%;
  font-size: 1.5em;
  border-radius: 100px 10px 100px 10px;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease;

  #close,
  #close.theme1 {
    position: absolute;
    top: 5%;
    right: 5%;
    transition: all 0.25s ease;

    &:hover {
      transform: scale(1.05);
      color: orange;
      cursor: pointer;
    }
  }

  // THEME 2
  #close.theme2 {
    &:hover {
      color: black;
    }
  }
}

// THEME 3
.InfoOverlay#theme3 {
  background-color: rgba($color: purple, $alpha: 0.9);

  #close.theme3 {
    &:hover {
      color: cyan;
    }
  }
}
