// FONT IMPORT
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$darkBlue: rgb(1, 1, 48);
$white: rgb(255, 255, 255);

html {
  padding: 15px;
  background-color: $darkBlue;
  color: $white;
  font-family: "Permanent Marker", cursive;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.card-container {
  display: grid;
  grid-template-areas: "a b" "c c";
  column-gap: 55px;
  row-gap: 25px;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;

  #score {
    user-select: none;
  }

  .resultsInner {
    width: 15vw;
    display: flex;
    flex-direction: column;
    gap: 5px;

    p:nth-of-type(2) {
      align-self: center;
    }

    p:last-of-type {
      align-self: flex-end;
    }
  }
}
