// FONT IMPORT
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$darkBlue: rgb(1, 1, 48);
$white: rgb(255, 255, 255);

html,
html#theme1 {
  padding: 15px;
  background-color: $darkBlue;
  color: $white;
  font-family: "Permanent Marker", cursive;
}

html#theme2 {
  background-color: lightseagreen;
}

html#theme3 {
  background-color: lightgray;
}

main,
main.theme1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

main.theme2 {
  color: red;
}

main.theme3 {
  color: black;
}

.card-container {
  display: grid;
  grid-template-areas: "a b" "c c";
  column-gap: 55px;
  row-gap: 25px;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;

  #score {
    text-align: center;
    user-select: none;
  }

  .resultsInner {
    width: 15vw;
    display: flex;
    flex-direction: column;
    gap: 5px;

    p:nth-of-type(2) {
      align-self: center;
    }

    p:last-of-type {
      align-self: flex-end;
    }
  }
}

// HOME DEFAULT THEME 1
#home,
#home.theme1 {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    all: unset;
    transition: color 0.25s ease;
    &:hover {
      cursor: pointer;
      color: orange;
    }
  }
}

// HOME THEME 2
#home.theme2 {
  color: red;
  a {
    &:hover {
      color: black;
    }
  }
}

// HOME THEME 3
#home.theme3 {
  color: black;
  a {
    &:hover {
      color: peru;
    }
  }
}
