// LESS THEN 1100 PX
@media only screen and (max-width: 1100px) {
  main {
    .InfoOverlay {
      font-size: 1.3rem;
    }
  }
}

// LESS THEN 850 PX
@media only screen and (max-width: 850px) {
  main {
    .InfoOverlay {
      font-size: 1.1rem;
    }
  }
}

// LESS THEN 768 PX
@media only screen and (max-width: 768px) {
  #root {
    nav {
      .navigation {
        #smallScreen {
          display: block;
        }
        .bigScreen {
          display: none;
        }
      }
    }
  }
}

// LESS THEN 450 PX
@media only screen and (max-width: 450px) {
  #root {
    nav {
      padding: 0 20px;
      margin-bottom: 50px;
      .navigation {
        #smallScreen {
          width: 30px;
          height: 25px;
        }
        #menuModal {
          width: 500%;
        }
      }
      h1 {
        font-size: 1rem;
      }
      #themeSelector {
        flex-direction: column;
        align-items: center;
        gap: 5px;
        font-size: 0.8rem;
        #themeSelectorInner {
          width: 100px;
        }
      }
    }
    main {
      .InfoOverlay {
        font-size: 0.9rem;
      }
      .card-container {
        .card {
          width: 100px;
          height: 100px;
        }
      }
      .howTo {
        padding: 30px;
      }
    }
  }
}
