// DEFAULT, THEME 1
nav,
nav.theme1 {
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 20px 0 50px;
  margin-bottom: 80px;

  a {
    all: unset;
    &:hover {
      cursor: pointer;
    }
  }

  h1 {
    text-align: center;
  }

  .navigation {
    position: relative;
    justify-self: center;
    display: flex;
    gap: 10px;

    #homePage {
      display: inline-block;
      transition: color 0.25s ease;
      &:hover {
        color: orange;
      }
    }

    #backButton {
      position: absolute;
      top: -10px;
      left: -30px;
      transform: rotate(90deg);
      font-size: xx-large;
      transition: color 0.25s ease;
      &:hover {
        color: orange;
        cursor: pointer;
      }
    }

    #anotherGameMenu {
      p,
      a,
      span {
        display: inline-block;
        transition: color 0.25s ease;
        &:hover {
          color: orange;
        }
      }

      #showMenu {
        display: inline-flex;
        gap: 10px;

        #normal,
        #upSide {
          align-self: center;
          transition: transform 0.5s ease;
        }

        #upSide {
          display: block;
          transform: rotate(180deg);
        }

        &:hover {
          cursor: pointer;
        }
      }
      #anotherGameMenuInner,
      #anotherGameMenuInnerHidden {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: start;
        transition: all 0.5s ease;
      }

      #anotherGameMenuInner {
        opacity: 1;
        visibility: visible;

        p:hover {
          cursor: pointer;
        }
      }

      #anotherGameMenuInnerHidden {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  #themeSelector {
    justify-self: center;
    display: flex;
    gap: 10px;

    #themeSelectorInner {
      display: flex;
      flex-direction: column-reverse;
      justify-content: start;

      input[type="range"] {
        appearance: none;
        -webkit-appearance: none;
        background-color: lightgrey;
        border-radius: 10px;
        padding: 2px;

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          height: 15px;
          width: 15px;
          background-color: red;
          border-radius: 10px;
        }

        &:hover {
          cursor: pointer;
        }
      }

      #numbers {
        display: flex;
        justify-content: space-between;
        padding: 0 5px;
      }
    }
  }
}

// THEME 2
nav.theme2 {
  color: red;
  .navigation {
    #homePage {
      &:hover {
        color: black;
      }
    }

    #backButton {
      &:hover {
        color: black;
      }
    }

    #anotherGameMenu {
      p,
      a,
      span {
        &:hover {
          color: black;
        }
      }
    }
  }
  #themeSelector {
    #themeSelectorInner {
      input[type="range"] {
        background-color: black;

        &::-webkit-slider-thumb {
          background-color: blue;
        }
      }
    }
  }
}

// THEME 3
nav.theme3 {
  color: black;
  .navigation {
    #homePage {
      &:hover {
        color: peru;
      }
    }

    #backButton {
      &:hover {
        color: peru;
      }
    }

    #anotherGameMenu {
      p,
      a,
      span {
        &:hover {
          color: peru;
        }
      }
    }
  }
  #themeSelector {
    #themeSelectorInner {
      input[type="range"] {
        background-color: cadetblue;

        &::-webkit-slider-thumb {
          background-color: purple;
        }
      }
    }
  }
}
