// DEFAULT, THEME 1
nav,
nav.theme1 {
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 20px 0 50px;
  margin-bottom: 80px;

  a {
    all: unset;
    &:hover {
      cursor: pointer;
    }
  }

  h1 {
    text-align: center;
  }

  .navigation {
    position: relative;
    justify-self: center;
    display: flex;
    gap: 10px;

    #menuModal {
      width: 300%;
      position: absolute;
      top: 45px;
      left: -20px;
      border-radius: 10px;
      padding: 5px;
      background-color: rgb(1, 1, 48);

      a {
        display: inline-block;
        cursor: pointer;
        transition: color 0.25s ease;

        &:hover {
          color: orange;
        }
      }
    }

    #smallScreen {
      display: none;
      position: relative;
      background-image: url("/src/svg/menu.svg");
      width: 50px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      filter: invert(100%) sepia(0%) saturate(7470%) hue-rotate(116deg)
        brightness(109%) contrast(109%);

      &:hover {
        cursor: pointer;
        filter: invert(66%) sepia(53%) saturate(3176%) hue-rotate(2deg)
          brightness(106%) contrast(105%);
      }
    }

    #homePage {
      display: inline-block;
      transition: color 0.25s ease;
      &:hover {
        color: rgb(255, 165, 0);
      }
    }

    #backButton {
      position: absolute;
      top: -10px;
      left: -30px;
      transform: rotate(90deg);
      font-size: xx-large;
      transition: color 0.25s ease;
      &:hover {
        color: orange;
        cursor: pointer;
      }
    }

    .bigScreen {
      #anotherGameMenu {
        p,
        a,
        span {
          display: inline-block;
          transition: color 0.25s ease;
          &:hover {
            color: orange;
          }
        }

        #showMenu {
          display: inline-flex;
          gap: 10px;

          #normal,
          #upSide {
            align-self: center;
            transition: transform 0.5s ease;
          }

          #upSide {
            display: block;
            transform: rotate(180deg);
          }

          &:hover {
            cursor: pointer;
          }
        }
        #anotherGameMenuInner,
        #anotherGameMenuInnerHidden {
          position: absolute;
          display: flex;
          flex-direction: column;
          align-items: start;
          transition: all 0.5s ease;
        }

        #anotherGameMenuInner {
          opacity: 1;
          visibility: visible;

          p:hover {
            cursor: pointer;
          }
        }

        #anotherGameMenuInnerHidden {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  }

  #themeSelector {
    justify-self: center;
    display: flex;
    gap: 10px;

    #themeSelectorInner {
      display: flex;
      flex-direction: column-reverse;
      justify-content: start;

      input[type="range"] {
        appearance: none;
        -webkit-appearance: none;
        background-color: lightgrey;
        border-radius: 10px;
        padding: 2px;

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          height: 15px;
          width: 15px;
          background-color: red;
          border-radius: 10px;
        }

        &:hover {
          cursor: pointer;
        }
      }

      #numbers {
        display: flex;
        justify-content: space-between;
        padding: 0 5px;
      }
    }
  }
}

// THEME 2
nav.theme2 {
  color: red;
  .navigation {
    #smallScreen {
      filter: invert(16%) sepia(84%) saturate(7485%) hue-rotate(7deg)
        brightness(104%) contrast(124%);
      &:hover {
        filter: invert(0%) sepia(3%) saturate(14%) hue-rotate(86deg)
          brightness(95%) contrast(103%);
      }
    }

    #menuModal {
      background-color: lightseagreen;

      a {
        &:hover {
          color: black;
        }
      }
    }
    #homePage {
      &:hover {
        color: black;
      }
    }

    #backButton {
      &:hover {
        color: black;
      }
    }

    #anotherGameMenu {
      p,
      a,
      span {
        &:hover {
          color: black;
        }
      }
    }
  }
  #themeSelector {
    #themeSelectorInner {
      input[type="range"] {
        background-color: black;

        &::-webkit-slider-thumb {
          background-color: blue;
        }
      }
    }
  }
}

// THEME 3
nav.theme3 {
  color: black;
  .navigation {
    #smallScreen {
      filter: invert(0%) sepia(3%) saturate(14%) hue-rotate(86deg)
        brightness(95%) contrast(103%);
      &:hover {
        filter: invert(62%) sepia(56%) saturate(500%) hue-rotate(347deg)
          brightness(82%) contrast(94%);
      }
    }

    #menuModal {
      background-color: lightgray;
      a {
        &:hover {
          color: peru;
        }
      }
    }
    #homePage {
      &:hover {
        color: peru;
      }
    }

    #backButton {
      &:hover {
        color: peru;
      }
    }

    #anotherGameMenu {
      p,
      a,
      span {
        &:hover {
          color: peru;
        }
      }
    }
  }
  #themeSelector {
    #themeSelectorInner {
      input[type="range"] {
        background-color: cadetblue;

        &::-webkit-slider-thumb {
          background-color: purple;
        }
      }
    }
  }
}
